@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

* {
  @apply transition-colors duration-300;
}

.rainbow::before {
  /* ... tus otras reglas ... */
  background-image: linear-gradient(#000);
  /* Color para modo claro */
}

/* Esta regla detecta la clase dark que pone tu NavBar */
.dark .rainbow::before {
  background-image: linear-gradient(#FFF);
  /* Color para modo oscuro */
}

@layer base {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Estilo global para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-white dark:bg-gray-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 dark:bg-gray-700 rounded-full hover:bg-gray-400 dark:hover:bg-gray-600;
}

@layer base {
  /* Seleccionamos solo cuando el usuario usa el teclado (focus-visible) */
  /* Así no aparecerá el borde cuando hagas clic con el ratón, que suele ser molesto */

  *:focus-visible {
    @apply outline-none ring-2 ring-lime-400 ring-offset-2 dark:ring-offset-gray-900 transition-all;
  }

  /* Específicamente para inputs y textareas del cliente */
  input:focus,
  textarea:focus,
  button:focus {
    @apply outline-none ring-2 ring-lime-400 border-transparent;
  }
}